GOOGLE_API_KEY=your_api_key_here

host=localhost
port=5432
user=mdnazmulhudanabil
password=
database=ai_data_analyst_platform


LANGFUSE_SECRET_KEY=your_langfuse_secret_key_here
LANGFUSE_PUBLIC_KEY=your_langfuse_public_key_here
LANGFUSE_BASE_URL=your_langfuse_base_url_here